<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width,initial-scale=1'>
	
	<!--
    Atlassian Connect / Confluence
    See: https://developer.atlassian.com/cloud/jira/platform/about-the-connect-javascript-api/
	During development you may also be interested in loading the non minified version of all.js. 
	This can be done by change the loader script from all.js to all-debug.js
    -->
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>

	<link rel='icon' type='image/png' href='/favicon.png'>
	<link rel='stylesheet' href='/build/bundle.css'>

	<script defer src='/build/bundle.js'></script>
</head>

<body>
</body>
</html>
