<!DOCTYPE html>
<html lang="en">

<body>
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
    <p>
        We could not fetch the content of your diagram.
    </p>
    <p>
        If you are seeing this in preview mode, you can ignore this error.
        Due to a longstanding bug in the new Confluence editor,
        it's not possible to fetch macro content immediately after saving it.
    </p>
    <p>
        <b>No data has been lost.</b>
        After publishing the page, the image will render normally.
    </p>
</body>

</html>